@import 'variables';

:host {
  display: block;
  max-width: 920px;
  margin: 2rem auto;
}

.pokemon-browser__results {
  padding-top: 2rem;
  border-top: 1px solid $light-gray;
  margin-top: 2rem;
}
