@import 'variables';

:host {
  display: flex;
  flex-direction: column;
}

.pokemon-list__element {
  &--loading {
    display: none;
  }
}

.pokemon-list__wrapper {
  list-style-type: square;
  padding-left: 1rem;
}

app-list-pagination {
  border-bottom: 1px solid $light-gray;
  padding-bottom: 2rem;
}
