@import 'variables';

:host {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.list-pagination__current-page {
  padding: 0.5rem;
  text-transform: uppercase;
}

app-icon-button {
  min-width: 138px;
}
