@import 'variables';

.pokemon-form {
  display: flex;
  height: 3rem;
}

.pokemon-form__input {
  margin-right: 1rem;
  font-size: 1.25em;
  padding-left: 1rem;
  width: 70%;
}

.pokemon-form__button {
  cursor: pointer;
  font-size: 1.25em;
  width: 30%;
  background: $blue;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    outline: none;
    background: $pink;
  }
}
