<span class="pokemon-stats__wrapper">
  <fa-icon class="pokemon-stats__icon" [icon]="faBolt"></fa-icon>
  <span class="pokemon-stats__label">attack <span class="pokemon-stats__value">{{ stats?.attack }}</span></span>
</span>

<span class="pokemon-stats__wrapper">
  <fa-icon class="pokemon-stats__icon" [icon]="faBolt"></fa-icon>
  <span class="pokemon-stats__label">special attack <span class="pokemon-stats__value">{{ stats?.specialAttack }}</span></span>
</span>

<span class="pokemon-stats__wrapper">
  <fa-icon class="pokemon-stats__icon" [icon]="faShieldAlt"></fa-icon>
  <span class="pokemon-stats__label">defense <span class="pokemon-stats__value">{{ stats?.specialDefense }}</span></span>
</span>

<span class="pokemon-stats__wrapper">
    <fa-icon class="pokemon-stats__icon" [icon]="faShieldAlt"></fa-icon>
    <span class="pokemon-stats__label">special defence <span class="pokemon-stats__value">{{ stats?.specialDefense }}</span></span>
</span>
<span class="pokemon-stats__wrapper">
  <fa-icon class="pokemon-stats__icon" [icon]="faTachometerAlt"></fa-icon>
  <span class="pokemon-stats__label">speed <span class="pokemon-stats__value">{{ stats?.speed }}</span></span>
</span>

<span class="pokemon-stats__wrapper">
  <fa-icon class="pokemon-stats__icon" [icon]="faHeart"></fa-icon>
  <span class="pokemon-stats__label">hp <span class="pokemon-stats__value">{{ stats?.hp }}</span></span>
</span>
