:host {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.details-nav__label {
  padding: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;;
  }
}

app-icon-button {
  min-width: 180px;
}
